<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1.0, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/users.css" />
    <title>Users Basic HTML</title>
  </head>
  <body>
    <h1>Welcome to List of Users Page</h1>
    <form action="/users"></form>
    <ul>
      <a href="/users/new">
        <button>Add New User</button>
      </a>
      <% allUsersArray.forEach(user => { %>
      <div class="user-container">
        <li><%= user.uname %></li>
        <li><%= user.uage %></li>
        <li><%= user.uemail %></li>
        <li><%= user.ubio %></li>
        <a href="/users/<%= user._id %>">View single User Data</a>
      </div>
      <% }) %>
    </ul>
  </body>
</html>
